    body{
       
        margin-top: 90px;
        font-family: serif;
        background-color: #f3f4f6;
        margin-left:0;
        margin-right:0;

    }
    nav{
        display: flex;
  justify-content: space-between;
  align-items: center;


    }
    .nav-barre{
  font-size: 20px;
  padding: 0px  20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color:rgba(28, 42, 89, 0.89);
  height: 65px;

    }
    .Logo{
        width: 113px;
        height: 80px;
        cursor: pointer;
        margin-top: -5.5px;

}
.tab-nav {
      display: flex;
      background-color:rgba(28, 42, 89, 0.69);
      overflow-x: auto;
      margin-top:-25px;
    }

    .tab-nav button {
      flex: 1;
      background-color:rgba(28, 42, 89, 0.62);
      border: none;
      color: white;
      padding: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background 0.3s;
      border-bottom: 3px solid transparent;
    }

    .tab-nav button:hover,
    .tab-nav button.active {
      background: #374151;
      border-bottom: 3px solid #3b82f6; 
    }
    .tab {
    display: none;
}

.tab.active {
    display: block;
}


.barre-de-recherche {
  margin: 10px auto 20px;
  background-color: #3a3a3ab9;
  border-radius: 50px;
  padding: 18px 90px;
  gap: 16px;
  max-width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.bdr {
  background-color: #131212;
  padding: 14px 100px;
  border-radius: 20px;
  color: rgba(240, 248, 255, 0.75);
  border: 0px solid black;
  cursor: pointer;
  
}
.bdr::placeholder{
    text-align:center;

}
    .creer{
        background-color: #5D76A9;
        border-radius: 20px;
        padding: 10px 20px;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }
    .notification{
        background-color: #5D76A9;
        border-radius: 20px;
        padding: 10px 20px;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }
    .notif-menu {
        position: absolute;
        top: 75px;
        right: 50px;
        background-color: rgba(205, 167, 167, 0.95);
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
        width: auto;
        display: none;
        z-index: 1;
    }
    
    .profil{
        background-color: #5D76A9;
        border-radius: 20px;
        padding: 10px 20px;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }
    
    .profil-menu {
        position: absolute;
        top: 75px;
        right: 10px;
        background-color: rgba(205, 167, 167, 0.95);
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
        width: auto;
        display: none;
        z-index: 1;
    }

    .profil-menu ul ,.notif-menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .profil-menu ul li,.notif-menu ul li{
        border-bottom: 1px solid #eee;
        font-size: 17px;
        color:black;
    }

    .profil-menu ul li:last-child,.notif-menu ul li:last-child  {
        border-bottom: none;
    }

    .profil-menu ul li a, .notif-menu ul li a {
        display: block;
        padding: 12px;
        color: black;
        text-decoration: none;
    }

    .profil-menu ul li a:hover,.notif-menu ul li a:hover {
        background-color:rgba(93, 118, 169, 0.42);
        border-radius: 5px;
 
    }
    
.text{
    margin:0;
 

}
.titre{
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
.titre .ligne{
  width: 42%;
  height: 1.5px;
  background-color: #5D76A9;
  
}
.titre h4{
  margin: 0;
  font-size: 30px;
  color: #354464;
}
.text h2{
  font-size: 30px;

}
    
    .ancs{
        display: grid;
        gap:7px;
        max-width: 98%;
        margin:1%;
    }
   
   
    .annonc:hover{
        transform: translateY(-2px);
        box-shadow: 0 5px 15px #5D76A9;

    }
    .annonc {
  display: flex;
  align-items: center;
  border: 1px solid #3a3a3ab9;
  border-radius: 10px;
  gap: 15px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
}

.image {
  flex-shrink: 0;
}

.img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.nom {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

    .btn-supp{
        padding:10px;
        border-radius:50px;
        border:none;
        margin-right:15px;
    }
    .creer:hover {
        cursor: pointer;
        background:rgba(206, 155, 155, 0.63);
        font-size:13.5px;
        border-radius:20px;
    }
    .profil:hover, .notification:hover {
        cursor: pointer;
        background:rgba(206, 155, 155, 0.63);
        font-size:15px;
        border-radius:20px;
    }
    
    .btn-supp:hover{
        cursor: pointer;
        background-color:rgba(255, 0, 0, 0.86);
        border:1px solid black;
        font-size:15px;
    }
    .panneau {
        position: fixed;
        top: 7px;
        right: -400px; 
        width: 300px;
        height: 98%;
        background: rgba(255, 255, 255, 0.53);
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 15px #5D76A9;
        transition: right 0.3s ease-in-out;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);


    }

    .panneau.open {
        right: 2;
        z-index: 1000;
    }

    .panneau-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    .panneau-cont {
        padding: 20px;
    }
    .panneau-cont form input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.panneau-cont form label {
    font-weight: bold;
}

.panneau-cont form button {
    width: 100%;
    padding: 10px;
    background-color: #5D76A9;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.panneau-cont form button:hover {
    background-color: #3a4e7c;
}


    .pann-ferm {
        background: none;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }
    .pann-ferm:hover{
        background: none;
        font-size: 16px;

    }
    h3{
        margin-bottom: 10px;
    }
    #message-suppression {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(5, 85, 5, 0.84);
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.42);
    animation: fadeinout 3s ease forwards; 
}
.photo_prfl{
    width:50px;
    height:50px;
    border-radius:30px;
}
.panneau-cont{
    padding: 10;

}
.panneau-cont ul {
    list-style: none;

        padding: 0;
        display: block;

    }
    .panneau-cont ul li{
        border-bottom: 1px solid #eee;
        font-size: 18px;
        color:black;
        text-align:center;

    }
    .panneau-cont ul li a {
        color: black;
        text-decoration: none;
        display:block;
        padding:10px;
    }
    .act{
        background-color: #5D76A9;
        border-radius: 20px;
        padding: 10px 20px;
        color: aliceblue;
        border: none;
        cursor: pointer;
        margin-right:20px;
    }
    button:hover {
  background-color: rosybrown;
  font-size:13.5px;

}
.act{
    margin-right:5px;

}
.a:hover{
  background-color: rgba(188, 143, 143, 0.37);
  font-size:19px;

}
.act1{
        
  display: block;
  margin: 20px auto;
  background-color: #5D76A9;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}
.modif{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}



        
    

@keyframes fadeinout {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}


