    body {
      margin: 0;
      font-family: sans-serif;
      background: #f8fafc;
      color: #111827;
    }

    .tab-nav {
      display: flex;
      background-color:rgba(28, 42, 89, 0.89);
      overflow-x: auto;
    }

    .tab-nav button {
      flex: 1;
      background-color:rgba(28, 42, 89, 0.89);
      border: none;
      color: white;
      padding: 16px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.3s;
      border-bottom: 3px solid transparent;
    }

    .tab-nav button:hover,
    .tab-nav button.active {
      background: #374151;
      font-size: 16.5px;

    
    }

    .content {
      padding: 2rem;
    }

    .tab {
      display: none;
    }

    .tab.active {
      display: block;
    }
    .ancs{
        display: grid;
        gap:7px;
        max-width: 98%;
        margin:1%;
    }
   
   
    .annonc:hover{
        transform: translateY(-2px);
        box-shadow: 0 5px 15px #5D76A9;

    }
    .annonc {
  display: flex;
  align-items: center;
  border: 1px solid #3a3a3ab9;
  border-radius: 10px;
  gap: 15px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
}

.image {
  flex-shrink: 0;
}

.img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.nom {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

    .nom1{
      font-size: 16px;
      font-weight: bold;
      flex-grow: 1;

    }
    .btn-supp{
        padding:15px;
        border-radius:50px;
        border:none;
        margin-right:15px;

    }
    .btn-supp:hover{
        cursor: pointer;
        background-color:rgba(255, 0, 0, 0.86);
        border:1px solid black;
        font-size:15px;
    }
    .button1 {
 border-radius: 20px;
  padding: 10px 20px;
  color: aliceblue;
  background-color: #5D76A9;
  cursor: pointer;
  border: none;
  text-decoration: none;


    }
    button:hover {
  background-color: rosybrown;
  font-size:16px;

    }
    .button1:hover {
  background-color: rosybrown;
  font-size:16px;

    }

    #message-suppression {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(5, 85, 5, 0.84);
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.42);
    animation: fadeinout 3s ease forwards; 
    }
    
